alembic==1.13.2
annotated-types==0.7.0
anyio==4.6.2.post1
asgiref==3.8.1
beautifulsoup4==4.12.2
blinker==1.8.2
Brotli==1.1.0
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2023.5.7
cffi==1.16.0
charset-normalizer==3.1.0
chess==1.10.0
click==8.1.3
colorama==0.4.6
ConfigArgParse==1.7
contourpy==1.1.1
cssselect2==0.7.0
customtkinter==5.1.3
cycler==0.12.1
darkdetect==0.8.0
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
Django==5.0.7
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fonttools==4.43.1
future==0.18.3
geocoder==1.38.1
geopandas==1.0.1
gevent==24.2.1
geventhttpclient==2.3.1
gmpy2==2.1.5
greenlet==3.0.3
groq==0.11.0
gunicorn==20.1.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna==3.4
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.6.1
kiwisolver==1.4.5
locust==2.28.0
Mako==1.3.5
MarkupSafe==2.1.5
matplotlib==3.8.0
mpmath==1.3.0
msgpack==1.0.8
numpy==1.26.1
openai==1.52.2
packaging==23.1
pandas==2.2.1
Pillow==9.5.0
pluggy==1.0.0
psutil==5.9.8
psycopg2==2.9.10
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pygame==2.5.2
pyogrio==0.10.0
pyparsing==3.1.1
pyperclip==1.8.2
pyproj==3.7.0
pytest==7.3.1
python-dateutil==2.8.2
pytube==15.0.0
pytz==2024.1
pyzmq==26.0.3
ratelim==0.1.6
redis==5.2.0
requests==2.30.0
shapely==2.0.6
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.30
sqlparse==0.5.1
sympy==1.11.1
tinycss2==1.3.0
tk==0.1.0
tkintermapview==1.29
tqdm==4.66.5
typing_extensions==4.12.0
tzdata==2024.1
Unidecode==1.3.6
urllib3==2.0.2
webencodings==0.5.1
Werkzeug==3.0.3
WTForms==3.1.2
zope.event==5.0
zope.interface==6.4.post2
