@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/020/736/346/small_2x/gradient-color-abstract-background-gradient-mesh-design-for-covers-wallpapers-branding-business-cards-social-media-website-others-you-can-use-the-gradient-texture-for-backgrounds-vector.jpg'); /* Reemplaza con la URL de la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .red {
    color: #000000;
}

.header .pulse {
    color: #B93A32;
}

.modal {
    background-color: white;
    border-radius: 10px;
    width: 750px;
    max-width: 90%;
    display: flex;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.modal-left {
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-right {
    background-image: url('https://static1.squarespace.com/static/5c7d71d29b7d153b9ba9c6c5/5efba08cd305a44006d62e5d/5fa47e368ada1b0b46972472/1648596576255/pexels-anna-shvets-4557398+(1).jpg?format=1500w'); /* Reemplaza con la URL correcta */
    background-size: cover;
    background-position: center;
    flex: 1;
    min-height: 400px; /* Para asegurarte de que se vea bien la imagen */
}

.modal h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal input, .modal select {
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal button {
    background-color: #B93A32;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.forgot-password {
    text-align: right;
    font-size: 12px;
    color: #B93A32;
    margin-bottom: 20px;
}

.register-link {
    text-align: center;
    font-size: 14px;
}

.register-link a {
    color: #B93A32;
    text-decoration: none;
    font-weight: bold;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #B93A32;
}

/* Estilos para el mensaje de éxito */
#success-message {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#success-message.active {
    display: flex; /* Mostrar el mensaje cuando se activa la clase */
}

.success-content {
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.success-content h2 {
    margin-bottom: 20px;
}

/* Estilos para el mensaje de error */
#error-message {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#error-message.active {
    display: flex; /* Mostrar el mensaje cuando se activa la clase */
}

.error-content {
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.error-content h2 {
    margin-bottom: 20px;
}

/* Estilos para los botones */
.error-content button, .success-content button {
    background-color: #B93A32;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}