@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f2f4f8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.container {
    max-width: 1000px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.header h1 {
    font-size: 32px;
    font-weight: 600;
}

.header .red {
    color: #000000; 
}

.header .pulse {
    color: #B93A32; 
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.header nav a:hover {
    color: #B93A32;
}

.main-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.donations-list {
    margin-top: 20px;
}

.donations-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.donations-list th, .donations-list td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.donations-list th {
    background-color: #B93A32;
    color: white;
    font-weight: bold;
}

.approve-button, .reject-button, .reason-button{
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.approve-button {
    background-color: #4CAF50;
}

.reject-button, .reason-button {
    background-color: #c36b65;
}

.no-underline {
    text-decoration: none;
}

.popup-content {
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-content h2{
    margin-bottom: 20px;
}

.popup-content p#razon-text {
    margin-bottom: 20px; /* Puedes ajustar el valor según lo necesites */
}

/* Estilos para los botones */
.popup-content button{
    background-color: #B93A32;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Modal de éxito/error */
#message-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#message-popup.active {
    display: flex;
}