<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedPulse</title>
    <link rel="stylesheet" href="/css/stylesHome.css">
    
</head>
<body>

    <div class="navbar">
        <div class="logo"><span class="red">Red</span><span class="pulse">Pulse</span></div>
        <ul>
            <li><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
            <li><a href="{{ url_for('informacion_preparativos') }}">Preparativos Donación</a></li>
            {% if user_data %}
            <li><a href="{{ url_for('solicitud_donacion') }}">Solicitar Sangre</a></li>
            {% endif %}
            <li><a href="{{ url_for('chatbot') }}">ChatBot</a></li>
        </ul>
        <!-- Verificamos si el usuario ya se registro o inicio sesion, para... -->
        <!-- Eliminar el boton registrar y cambiar el nombre y direccion de Login a Perfil-->

        {% if user_data %}
            <a href="{{ url_for('perfil') }}">
                <button class="login-button">Perfil</button>
            </a>
        {% else %}
            <a href="{{ url_for('login') }}">
                <button class="login-button">Login</button>
            </a>
        {% endif %}

    </div>

    <div class="hero">
        <h1>¡Haz la Diferencia con Solo un Click!</h1>
        <p>Descubre la forma más fácil y segura de donar sangre y salvar vidas.</p>

        <div class="save-lives-box">
            <h3>¡Salva vidas hoy!</h3>
            <p>Tu contribución es vital para aquellos que lo necesitan. Cada gota cuenta, y tú puedes marcar la diferencia.</p>
            {% if not user_data %}
            <a href="{{ url_for('registro') }}">
                <button class="register-button">Regístrate</button>
            </a>
            {% endif %}
          </div>

        <img src="https://static.vecteezy.com/system/resources/thumbnails/009/386/358/small/3d-rendering-of-hand-holding-blod-drop-concept-of-blood-organ-donation-png.png" alt="RedPulse Image">
    </div>


    <div class="features">
        <div class="feature-box">
            <h2>Gana Puntos y Canjéalos</h2>
            <p>Al donar recibiras puntos para redimir en nuestras tiendas asociadas</p>
        </div>
        <div class="feature-box">
            <h2>Sé un héroe</h2>
            <p>Se te mantendrá informado de convocatorias que involucran tu tipo de sangre.</p>
        </div>
    </div>


</body>
</html>