<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedPulse - Login</title>
    <link rel="stylesheet" href="/css/stylesLogin.css">

</head>
<body>

    <!-- Modal Container -->
    <div class="modal">
        <!-- Modal Left (Form Section) -->
        <div class="modal-left">
            <a href="{{ url_for('return_home') }}" class="close-btn">&times;</a>
            <header class="header">
              <h1><span class="red">Red</span><span class="pulse">Pulse</span></h1>
            </header>

            <h2>¡Hola de nuevo!</h2>
            <form id="loginForm" method="POST">
                <input type="text" name="numero_documento" placeholder="Número de Documento" required>
                <select name="tipo_documento" required>
                    <option value="">Seleccione Tipo de Documento</option>
                    <option value="Cedula de Ciudadania">Cédula de Ciudadanía</option>
                    <option value="Cedula de Extranjeria">Cédula de Extranjería</option>
                </select>
                <input type="password" name="contrasena" placeholder="Contraseña" required>
                <div class="forgot-password"><a href="{{ url_for('solicitar_recuperacion') }}">¿Olvidó la contraseña?</a></div>
                
                <button type="submit">Ingresar</button>
            </form>

            <div class="register-link">
                ¿No tienes una cuenta? <a href="{{ url_for('registro') }}">Regístrate</a>
            </div>
        </div>

        <!-- Modal Right (Image Section) -->
        <div class="modal-right"></div>
    </div>

    <!-- Modal de éxito -->
    <div id="success-message" {% if session.login_verificacion_resultado == True %}class="active"{% endif %}>
        <div class="success-content">
            <h2>¡Bienvenido a Red Pulse!</h2>
            <button onclick="submitForm()">Continuar</button>
        </div>
    </div>

    <!-- Modal de error -->
    <div id="error-message" {% if session.login_verificacion_resultado == False %}class="active"{% endif %}>
        <div class="error-content">
            <h2>¡Numero de documento o contraseña inexistentes o incorrectos!</h2>
            <button onclick="closeErrorMessage()">Cerrar</button>
        </div>
    </div>

    <script>
        function closeErrorMessage() {
            document.getElementById('error-message').style.display = 'none';
        }

        function submitForm() {
            window.location.href = '/';
        }
    </script> 

</body>
</html>
