@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/020/736/346/small_2x/gradient-color-abstract-background-gradient-mesh-design-for-covers-wallpapers-branding-business-cards-social-media-website-others-you-can-use-the-gradient-texture-for-backgrounds-vector.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
    background-color: white;
    border-radius: 10px;
    width: 900px;
    max-width: 90%;
    display: flex;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.modal-left {
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-right {
    background-image: url('https://static1.squarespace.com/static/5c7d71d29b7d153b9ba9c6c5/5efba08cd305a44006d62e5d/5fa47e368ada1b0b46972472/1648596576255/pexels-anna-shvets-4557398+(1).jpg?format=1500w');
    background-size: cover;
    background-position: center;
    flex: 1;
    min-height: 400px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #B93A32;
}

.modal h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal input, .modal select {
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.name-lastname {
    display: flex;
    gap: 10px;
}

.name-lastname input {
    flex: 1;
}

.modal button {
    background-color: #B93A32;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-terms {
    font-size: 12px;
    margin-bottom: 20px;
}

.register-terms a {
    color: #B93A32;
    text-decoration: none;
}

.no-underline {
  text-decoration: none;
}